body {
    color: rgb(127, 19, 214);
    margin: 100px;
    background: rgb(213, 245, 193);
    background-image: url(/static/greyduckfeet.png); 
    line-height: 1.5;
    vertical-align: middle;
    
    
}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}
img {
  width: 500px;
  height: auto;
    max-height: 100%;
    max-width: 100%;

}

p, li,a{
    font-size: 20px;
    font-family: serif;
    color: rgb(24, 85, 12);
}
li{
    color: rgb(17, 141, 17);
    border-right: honeydew;
}

h1 {
    color: rgb(68, 8, 128);
}
 
footer {
    position: fixed;
    width: 300px;
    right: -90px;
    bottom: -40px;
    z-index: -1;
    resize: both;
    object-fit: fill;
}

#header {
    text-align: center;
}

 
    

     #main-duck {
       height: auto;
       width: 1000px;
        max-height: 100%;
         align-items: center;
         max-width: 100%;
     }

    .column {
        float: left;
        width: 50%;
    }
   
#hamnav {
  width: 100%;
    
  
  position: sticky;
  top: 0;
}


#hamnav label, #hamburger { display: none; }


#hamitems { display: flex; }
#hamitems a {
  width: 20%; 
  padding: 10px;
  color: white;
  background-color: #29690c;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #104602;
}


@media screen and (max-width: 768px){
  
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #29690c;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

 
html, body { 
  padding: 0; 
  margin: 0; 
   
}


path:hover, circle:hover {
  stroke: rgb(42, 104, 240) !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: rgb(42, 104, 240) !important;
  cursor: pointer;
  
}
svg {
  width: 2000px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

